In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../../02_dataset/merged_df.csv')
data.drop(columns='Unnamed: 0', inplace=True)
data.sample(15)

,ISO3_code,Year,pt_gdp_agriculture,oil_rent,democracy_polity,gdp,country,ethnic_fractionation_index,mean_temp,yearly_avg_rainfall,...,gdp_pchange,unemp_rate,unemp_rate_pchange,gini,gini_pchange,population,participants,number_events,yprotest,protest_fraction
1731,COL,1987,18.063738,4.292963,8.0,1.073631e+11,Colombia,0.651,25.3,1994.279477,...,5.368931,7.800,0.000000,0.538654,0.000000,NaN,NaN,NaN,NaN,NaN
955,BOL,1977,20.177761,1.700144,-7.0,1.174097e+10,Bolivia,0.602,21.2,1073.901168,...,4.971218,2.021,0.000000,0.505717,0.000000,NaN,NaN,NaN,NaN,NaN
2885,ETH,1991,57.237946,0.000000,-1.0,1.228061e+10,Ethiopia,0.793,22.9,621.716800,...,-7.137475,3.259,44.780098,0.345018,0.000000,49717198.0,100.0,1.0,1.0,0.000002
39,AFG,1999,38.627890,0.005149,-7.0,5.621148e+09,Afghanistan,0.728,13.5,280.812500,...,0.000000,7.953,0.151114,NaN,NaN,19887785.0,0.0,0.0,0.0,0.000000
7367,SRB,1999,15.711183,0.288137,-6.0,2.510540e+10,Serbia,0.479,11.1,711.597619,...,-10.325507,13.700,0.000000,0.372673,0.000000,7540401.0,0.0,0.0,0.0,0.000000
4260,JAM,1984,9.023869,0.000000,10.0,8.699395e+09,Jamaica,0.292,25.7,1783.388889,...,-1.542339,4.083,0.000000,0.415598,0.000000,NaN,NaN,NaN,NaN,NaN
2811,EST,1981,5.051828,0.233222,-7.0,9.855880e+09,Estonia,0.520,5.0,659.758929,...,0.000000,1.468,0.000000,0.328386,0.000000,NaN,NaN,NaN,NaN,NaN
5228,MWI,1974,37.248077,0.000000,-9.0,2.020404e+09,Malawi,0.790,21.6,1275.204955,...,7.175959,4.690,0.000000,0.468668,0.000000,NaN,NaN,NaN,NaN,NaN
7768,SOM,2018,65.863610,0.000000,5.0,7.710498e+09,Somalia,0.222,27.1,263.423354,...,2.054313,18.783,1.283365,NaN,NaN,15452487.0,100.0,1.0,1.0,0.000006
7248,SAU,2008,2.292691,54.085800,-10.0,4.949930e+11,Saudi Arabia,0.217,25.9,76.589443,...,6.238017,5.085,-11.318451,NaN,NaN,23287877.0,370.0,2.0,1.0,0.000016
4244,JAM,1968,9.023869,0.000000,10.0,7.562224e+09,Jamaica,0.348,25.5,1491.055556,...,5.744129,4.083,0.000000,0.415598,0.000000,NaN,NaN,NaN,NaN,NaN
5773,MAR,2009,11.965048,0.003258,-6.0,8.789536e+10,Morocco,0.560,18.2,252.056306,...,3.745774,8.960,-6.374086,0.393222,0.000000,32030778.0,0.0,0.0,0.0,0.000000
652,BGD,1994,26.725538,0.017205,6.0,6.273769e+10,Bangladesh,0.033,25.3,1621.005208,...,3.890132,2.381,2.629310,0.306651,0.000000,120343179.0,235900.0,13.0,1.0,0.001960
8887,UKR,1976,24.648829,0.181695,-7.0,6.594558e+10,Ukraine,0.430,7.0,481.637500,...,0.000000,1.900,0.000000,0.276072,0.000000,NaN,NaN,NaN,NaN,NaN
8055,SDN,2010,31.852220,11.493126,-4.0,5.921530e+10,Sudan,0.746,29.2,206.703252,...,3.858249,15.156,16.584615,0.348189,-1.627905,35414399.0,0.0,0.0,0.0,0.000000

## Try modeling the sub-Saharan African countries

Choose features and target

In [24]:
feats = ['Year',
         'yearly_avg_rainfall',
         'rainfall_var_t',
         'rainfall_var_t_1',
         'mean_temp',
         'pt_gdp_agriculture',
         'oil_rent']

target = 'gdp_g'

In [25]:
subsaharan = ['AGO', 'BEN', 'BWA', 'CIV', 'CAF', 'CMR', 'COD', 'COG', 'CPV', 'DJI', 'ERI', 'ETH', 'GAB', 'GHA', 'GIN', 'GMB', 'KEN', 'LSO', 'LBR', 'MDG', 'MLI', 'MRT', 'MUS', 'MWI', 'NAM', 'NER', 'NGA', 'RWA', 'SEN', 'SDN', 'SLE', 'SOM', 'SSD', 'SWZ', 'SYC', 'TCD', 'TGO', 'TZA', 'UGA', 'ZMB', 'ZWE']
sub_data = data[data['ISO3_code'].isin(subsaharan)]

In [26]:
sub_data[feats]

,Year,yearly_avg_rainfall,rainfall_var_t,rainfall_var_t_1,mean_temp,pt_gdp_agriculture,oil_rent
192,1960,1018.500204,0.051549,0.051549,21.6,14.902152,4.094633
193,1961,1071.002852,0.051549,0.051549,21.3,14.902152,4.094633
194,1962,979.839650,-0.085119,0.051549,21.3,14.902152,4.094633
195,1963,967.382233,-0.012714,-0.085119,21.3,14.902152,4.094633
196,1964,833.767522,-0.138120,-0.012714,21.3,14.902152,4.094633
...,...,...,...,...,...,...,...
9317,2019,647.373718,0.176221,-0.316445,22.4,9.819262,0.050883
9318,2020,586.835256,-0.093514,0.176221,22.0,8.772859,0.029129
9319,2021,543.462821,-0.073909,-0.093514,22.0,8.849899,0.047769
9320,2022,635.176282,0.168758,-0.073909,21.9,7.170550,0.000000
9321,2023,612.769872,-0.035276,0.168758,22.1,4.108254,0.000000

In [41]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(sub_data,
                                         test_size=0.1)
                                         #stratify=sub_data['ISO3_code'])

In [42]:
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR

from sklearn.metrics import root_mean_squared_error

Initial model selection: just run a set of models, mostly ensemble methods, with default hyperparameters and on training data. We will choose the best one using RMSE as a metric and then further pick the best hyperparameters using cross validation.

In [43]:
models = [RandomForestRegressor(),
          ExtraTreesRegressor(),
          XGBRegressor(),
          SVR()]

rmses = []

for model in models:
    model.fit(train_data[feats], train_data[target])
    preds = model.predict(train_data[feats])
    rmse = root_mean_squared_error(train_data[target], preds)
    rmses.append(rmse)

print(rmses)

[0.022847776596873433, 0.0033734560879908086, 0.011795459948607282, 0.06431647353413955]

Extra trees regressor is looking quite good, followed by XGBoost regressor. Random forest is already doing much better than linear models. Let's see if we can pick optimum parameters for the best model:

In [45]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import LeavePOut

loo = LeavePOut(200)

grid_cv = GridSearchCV(ExtraTreesRegressor(),
                       param_grid={
                           'max_depth': [5, 10],
                           'n_estimators': [100]
                       },
                       scoring='neg_root_mean_squared_error',
                       cv=5
                       )

grid_cv.fit(train_data[feats], train_data[target])

print(grid_cv.best_score_, grid_cv.best_params_)

-0.06038321847092716 {'max_depth': 10, 'n_estimators': 100}

In [46]:
grid_cv = GridSearchCV(XGBRegressor(),
                       param_grid={
                           'max_depth': [5,10],
                           'learning_rate': [0.1, 1],
                           'n_estimators': [100, 500]
                       },
                       scoring='neg_root_mean_squared_error',
                       cv=5
                       )

grid_cv.fit(train_data[feats], train_data[target])

print(grid_cv.best_score_, grid_cv.best_params_)

-0.061567364189026086 {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}