# Merging Clean Datasets

In [1]:
import pandas as pd

In [2]:
# import all the df

rainfall = pd.read_csv("../01_exploratory_data_analysis/rainfall/dataset_rainfall.csv")
unemp = pd.read_csv("gdp_unemployment/gdppcap unemp and gini.csv")
protest = pd.read_csv("protests/yearly_protest_data.csv")

In [3]:
rainfall.columns

Index(['Unnamed: 0', 'ISO3_code', 'Year', 'pt_gdp_agriculture', 'oil_rent',
       'democracy_polity', 'gdp', 'country', 'ethnic_fractionation_index',
       'yearly_avg_rainfall', 'rainfall_var_t', 'rainfall_var_t_1',
       'yearly_avg_temp', 'temp_var_t', 'temp_var_t_1'],
      dtype='object')

In [4]:
rainfall = rainfall.drop('Unnamed: 0', axis=1)
rainfall = rainfall[['ISO3_code', 'Year', 'country', 
       'yearly_avg_rainfall', 'rainfall_var_t', 'rainfall_var_t_1',
       'yearly_avg_temp', 'temp_var_t', 'temp_var_t_1',
       'pt_gdp_agriculture', 'oil_rent',
       'democracy_polity', 'ethnic_fractionation_index', 'gdp']]
rainfall.country.nunique()

138

In [5]:
unemp = unemp.drop (['Unnamed: 0', 'pop'], axis=1)
unemp.country.nunique()

191

In [6]:
protest = protest.drop('Unnamed: 0', axis = 1)
protest = protest.rename(columns= {'year':'Year'})
protest.country.nunique()

136

In [7]:
protest.head(20)

,country,Year,population,participants,protest_fraction
0,Albania,1990,3.286542e+06,31250.0,0.009508
1,Argentina,1990,3.275590e+07,69700.0,0.002128
2,Armenia,1990,3.552128e+06,150000.0,0.042228
3,Austria,1990,7.677850e+06,300.0,0.000039
4,Benin,1990,5.281479e+06,50.0,0.000009
5,Bangladesh,1990,1.116337e+08,107352.0,0.000962
6,Bulgaria,1990,8.718289e+06,439650.0,0.050428
7,Bolivia,1990,7.130142e+06,10750.0,0.001508
8,Brazil,1990,1.491432e+08,295000.0,0.001978
9,Bhutan,1990,5.892870e+05,100.0,0.000170
10,Central African Republic,1990,2.871910e+06,50.0,0.000017
11,Canada,1990,2.769114e+07,3750.0,0.000135
12,Switzerland,1990,6.715519e+06,30000.0,0.004467
13,Chile,1990,1.343718e+07,150.0,0.000011
14,China,1990,1.135185e+09,2200.0,0.000002
15,Cameroon,1990,1.133182e+07,20400.0,0.001800
16,Colombia,1990,3.244007e+07,48000.0,0.001480
17,Comoros,1990,4.445960e+05,600.0,0.001350
18,Cyprus,1990,7.883510e+05,25000.0,0.031712
19,Germany,1990,7.943303e+07,8300.0,0.000104

In [8]:
df = rainfall.merge(unemp, on= ['ISO3_code', 'Year', 'country'], how='inner')

In [9]:
df.country.nunique()

136

In [10]:
df.columns

Index(['ISO3_code', 'Year', 'country', 'yearly_avg_rainfall', 'rainfall_var_t',
       'rainfall_var_t_1', 'yearly_avg_temp', 'temp_var_t', 'temp_var_t_1',
       'pt_gdp_agriculture', 'oil_rent', 'democracy_polity',
       'ethnic_fractionation_index', 'gdp', 'gdp_percap', 'gdp_percap_pchange',
       'gdp_pchange', 'unemp_rate', 'unemp_rate_pchange', 'gini',
       'gini_pchange'],
      dtype='object')

In [11]:
df = df[['ISO3_code', 'Year', 'country', 'yearly_avg_rainfall', 'rainfall_var_t',
       'rainfall_var_t_1', 'yearly_avg_temp', 'temp_var_t', 'temp_var_t_1',
       'pt_gdp_agriculture', 'oil_rent', 'democracy_polity',
       'ethnic_fractionation_index', 'gdp', 'gdp_pchange', 'gdp_percap',
       'gdp_percap_pchange',  'unemp_rate', 'unemp_rate_pchange',
       'gini', 'gini_pchange']]

In [12]:
df= df.sort_values(by=['country', 'Year'])
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh',
       'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Botswana',
       'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'Colombia',
       'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland',
       'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Lithuania', 'Madagascar', 'Malawi', 'Malaysia', 'Mali',
       'Mauritania', 'Mexico', 'Moldova', 'Mongolia', 'Morocco',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Zambia', 'Zimbabwe'], dtype=object)

In [13]:
protest = protest.sort_values(by=['country', 'Year'])
protest.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Botswana',
       'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'India', 'Indonesia',
       'Iraq', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Rwanda',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore',
       'Slovak Republic', 'Slovenia', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Tunisia', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Zambia', 'Zimbabwe'], dtype=object)

In [14]:
fulldf = df.merge(protest, on = ['country', 'Year'], how='inner')
fulldf.columns

Index(['ISO3_code', 'Year', 'country', 'yearly_avg_rainfall', 'rainfall_var_t',
       'rainfall_var_t_1', 'yearly_avg_temp', 'temp_var_t', 'temp_var_t_1',
       'pt_gdp_agriculture', 'oil_rent', 'democracy_polity',
       'ethnic_fractionation_index', 'gdp', 'gdp_pchange', 'gdp_percap',
       'gdp_percap_pchange', 'unemp_rate', 'unemp_rate_pchange', 'gini',
       'gini_pchange', 'population', 'participants', 'protest_fraction'],
      dtype='object')

In [15]:
fulldf.sample(10)

,ISO3_code,Year,country,yearly_avg_rainfall,rainfall_var_t,rainfall_var_t_1,yearly_avg_temp,temp_var_t,temp_var_t_1,pt_gdp_agriculture,...,gdp_pchange,gdp_percap,gdp_percap_pchange,unemp_rate,unemp_rate_pchange,gini,gini_pchange,population,participants,protest_fraction
1439,MAR,1990,Morocco,181.194320,-0.301240,0.228486,188.714499,-0.000188,0.020610,15.095176,...,3.411812,4418.6600,0.888084,8.910,0.000000,0.392069,-0.293328,24375551.0,1000.0,0.000041
1781,PRT,2020,Portugal,677.256579,0.188416,-0.313718,162.703947,0.024680,0.019114,2.140897,...,-8.204629,37047.1050,-8.301072,6.796,5.136139,0.346686,5.817223,10297081.0,100.0,0.000010
1029,ITA,2008,Italy,771.193262,0.239523,0.021388,121.248227,-0.011987,0.016085,1.873009,...,-1.023139,52814.4340,-1.676664,6.723,10.648453,0.337677,2.674106,58826731.0,26150.0,0.000445
2106,UKR,1996,Ukraine,473.192560,-0.056671,0.189130,73.479167,-0.148312,-0.000338,12.229051,...,-10.000001,9969.5010,-9.227963,7.650,36.120996,0.351536,-10.393447,51226109.0,3150.0,0.000061
1756,POL,2010,Poland,643.537093,0.162815,0.114898,76.260671,-0.119134,-0.078150,2.915548,...,3.168936,27584.2540,3.464006,9.637,17.999265,0.332148,-0.422452,38042794.0,150.0,0.000004
680,FIN,2000,Finland,547.604487,0.123451,-0.168239,28.533013,0.691102,1.783082,2.954849,...,5.753739,47405.4530,5.534414,11.135,-4.772086,0.271566,1.019159,5176209.0,1050.0,0.000203
2173,URY,2007,Uruguay,1214.814677,0.209686,-0.146627,176.827114,-0.044724,0.015669,8.499364,...,6.541511,20871.4820,6.358925,9.403,-13.288454,0.464047,1.008621,3295153.0,150.0,0.000046
99,ARM,1998,Armenia,418.770833,-0.137321,0.157874,81.097222,0.164191,-0.098580,18.434763,...,7.300000,4211.5127,8.567103,9.400,-12.962963,0.315673,0.000000,3208401.0,300.0,0.000094
197,BLR,2017,Belarus,636.814732,0.053427,0.323034,75.454613,-0.013253,-0.094950,7.566101,...,2.532175,25503.9800,2.644804,5.648,-3.353867,0.254446,0.545134,9458989.0,5050.0,0.000534
0,AFG,1991,Afghanistan,375.068452,0.204648,0.086441,121.137897,-0.043314,0.069567,38.627890,...,0.000000,1454.1108,0.000000,7.946,0.480526,NaN,NaN,12238879.0,2000.0,0.000163

In [16]:
fulldf.to_csv("merged_df.csv")